In [1]:
import pandas as pd
import numpy as np

Três métodos para unir os DataFrames:

1. Merge;
2. Join;
3. Concatenate.

In [6]:
df1 = pd.DataFrame({'A':['A0', 'A1', 'A2', 'A3'],
                    'B':['B0', 'B1', 'B2', 'B3'],
                    'C':['C0', 'C1', 'C2', 'C3'],
                    'D':['D0', 'D1', 'D2', 'D3']},
                  index=[0,1,2,3])

df2 = pd.DataFrame({'A':['A4', 'A5', 'A6', 'A7'],
                    'B':['B4', 'B5', 'B6', 'B7'],
                    'C':['C4', 'C5', 'C6', 'C7'],
                    'D':['D4', 'D5', 'D6', 'D7']},
                  index=[4,5,6,7])

df3 = pd.DataFrame({'A':['A8', 'A9', 'A10', 'A11'],
                    'B':['B8', 'B9', 'B10', 'B11'],
                    'C':['C8', 'C9', 'C10', 'C11'],
                    'D':['D8', 'D9', 'D10', 'D11']},
                  index=[8,9,10,11])

dic1 = {'ID':[10,11,12,13,14],'Nome':['Mario', 'Joana', 'Claudia', 'Lucas', 'Gabriel'],
        'Cidade':['São Paulo', 'Rio de Janeiro', 'São Paulo', 'Recife', 'João Pessoa']}

dic2 = {'ID':[16,11,12,13,18], 'Exp':['Junior', 'Senior', 'Pleno', 'Estagiário', 'Analista']}

df4 = pd.DataFrame(data=dic1)
df5 = pd.DataFrame(data=dic2)

In [7]:
df4

   ID     Nome          Cidade
0  10    Mario       São Paulo
1  11    Joana  Rio de Janeiro
2  12  Claudia       São Paulo
3  13    Lucas          Recife
4  14  Gabriel     João Pessoa

In [8]:
df5

   ID         Exp
0  16      Junior
1  11      Senior
2  12       Pleno
3  13  Estagiário
4  18    Analista